#board{
	position: absolute;
	z-index: 0;
	top: 150px;
	width: 810px;
	left: 10px;
}

#redPlayer{
	position: absolute;
	width: 70px;
	z-index: 1;
	top: 870px;
	left: 20px;
}

#yellowPlayer{
	position: absolute;
	width: 70px;
	z-index: 1;
	top: 870px;
	left: 20px;
}

#title{
	color: green;
	font-size: 50px;
	margin: 0px 0px 10px 0px;
	position: relative;
}

#yellowButton{
	background-color: yellow;
	font-size: 20px;
	position: absolute;
	left: 700px;
}

#redButton{
	background-color: red;
	font-size: 20px;
}

#inputText{
	font-family: sans-serif;
	font-size: 30px;
}

#directions{
	font-family: sans-serif;
	font-size: 25px;
}

#winner{
	position: absolute;
	top: 400px;
	left: 15px;
	background-color: rgb(110,201,253);
	z-index: 2;
	font-size: 40px;
	font-family: sans-serif;
	visibility: hidden;
	padding: 80px 30px 80px 30px;
}

#output{
	position: absolute;
	left: 15px;
	font-size: 20px;
	z-index: 3;
}