#board{
	position: absolute;
	z-index: 0;
	top: 120px;
	width: 810px;
	left: 10px;
}

#redPlayer{
	position: absolute;
	width: 70px;
	z-index: 1;
	top: 840px;
	left: 20px;
}

#yellowPlayer{
	position: absolute;
	width: 70px;
	z-index: 1;
	top: 840px;
	left: 20px;
}

#title{
	color: green;
	font-size: 60px;
	margin: 0px 0px 10px 0px;
}

#yellowButton{
	background-color: yellow;
}

#redButton{
	background-color: red;
}

#inputText{
	font-family: sans-serif;
	font-size: 30px;
}

#directions{
	font-family: sans-serif;
	font-size: 25px;
}
