#board{
	position: absolute;
	z-index: 0;
	top: 120px;
	width: 810px;
	left: 10px;
}

#redPlayer{
	position: absolute;
	width: 70px;
	z-index: 1;
	top: 840px;
	left: 20px;
}

#yellowPlayer{
	position: absolute;
	width: 70px;
	z-index: 1;
	top: 840px;
	left: 20px;
}

#title{
	color: green;
	font-size: 60px;
	margin: 0px 0px 10px 0px;
}

#yellowButton{
	background-color: yellow;
	font-size: 20px;
	position: absolute;
	left: 700px;
}

#redButton{
	background-color: red;
	font-size: 20px;
}

#inputText{
	font-family: sans-serif;
	font-size: 30px;
}

#directions{
	font-family: sans-serif;
	font-size: 25px;
}

#winner{
	position: absolute;
	top: 300px;
	left: 50px;
	background-color: blue;
	z-index: 2;
	font-size: 40px;
	font-family: 'Courier New', Courier, monospace;
	visibility: hidden;
	padding: 30px;
}

#output{
	position: absolute;
	left: 400px;
	z-index: 3;
}